<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">{{ template_name }}</h5>
    </div>
    <div class="modal-body">
      <div>
        <p>Template rule syntax:</p>

        <p>Multiple functions are chained by | characters. Data will flow through each operator.</p>

        <p>Available functions</p>
        <pre>
        field - select field from data by name
        first - select first item from list
        concat - concatenate multiple fields from input arguments
        format - format arguments using a python format string
        translateGender - maps english gender names to german ones
        is - is("fieldname", "value"), works on a single element
        not - not(operator ...), negatives truth value
        and - and(operator, operator, ...) all conditions need to be true
        or - or(operator, operator, ...) any condition needs to be true
        filter - filter(truth_operator) filter data on criteria
        join - join("separator") joins strings using separator
        sort - sort("asc" or "desc", field(...) optional) sorts data using field or just the values in the list
        formatDate - format a date in YYYY-MM-DD into DD.MM.YYYY. This can be further refined using syntax defined in https://docs.python.org/3/library/datetime.html#strftime-and-strptime-format-codes
        </pre>
      </div>
      <form id="control-form" hx-post="/templates" hx-target="#tinfo">
        <input type="hidden" name="template_name" value="{{ template_name }}">
        <input type="hidden" name="template_id" value="{{ template_id }}">
        <input type="hidden" name="template_data" value="{{ template_json | e }}">
        {% for control in template_data %}
        <div class="row mb-3 align-items-center">
          <div class="col-sm-3">
            <label for="{{ control.tag }}" class="col-form-label">{{ control.tag }}</label>
            <div>
            {% for type in control.types|unique %}
              <span class="badge bg-secondary">{{ type }}</span>
            {% endfor %}
            </div>
          </div>
          <div class="col-sm-9">
            <input type="text" class="form-control {% if control.tag in errors %} is-invalid {% endif %}" name="{{ control.tag }}" id="{{ control.tag }}" value="{{control.config}}">
            <div class="invalid-feedback">Rule parsing failed</div>
          </div>
        </div>
        {% endfor %}
      </form>
    </div>
    <div class="modal-footer">
      <input type="submit" class="btn btn-primary" form="control-form" value="Submit">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    </div>
  </div>
</div>
